@import "./colors";
@import "./components/navbar";
@import "./components/product-list";
@import "./views/product-list-Views";
@import "./views/product-display-Views";
@import "./components/cart-product-list";
@import "./views/cart-Views";
@import "./components/loading-screen";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.full-wrapper {
  margin-top: 60px;
  padding: 20px 5%;
  width: 100%;
  min-height: calc(100vh - 60px);
  background-color: $background_bg;
}
.card {
  background-color: rgb(173, 196, 196);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px rgba(61, 22, 22, 0.75);
}
.btn-add-to-cart {
  color: rgb(233, 225, 225);
  cursor: pointer;
  border: none;
  padding: 5px;
  box-sizing: border-box;
  background-color: $header_bg;
  transition: background-color 0.3s ease-in-out;
  &:disabled:hover {
    background-color: gray;
  }
  &:disabled {
    cursor: default;
    background-color: gray;
  }
  &:hover {
    background-color: lighten($color: $header_bg, $amount: 10%);
  }
}
